@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
}
hr{
    border: none;             
    height: 1px;              
    background-color: #d3d3d3; 
    margin: 0;                
    padding: 0;               
}

body{
    padding: 0px;
    margin: 0px;
    border: 0px;
}
.nav{
    width: 70px;
    position: relative;
}
.nav__item{
    margin: 0px auto; width: 50px;padding: 15px 10px;
}
.nav__item__Icon{
    width:50px;
}
.nav__item__text{
    text-align: center;
    font-weight: 700;
}


.gridContainer{
    display: grid;
    grid-template-columns: 450px 1fr;
    height: 100vh;
}


.contact{
    position: relative;
}


@media (max-width: 600px) {
    .gridContainer{
        grid-template-columns: 1fr;
    }
}

.contact__title{
    font-size: 32px;
    font-weight: 700;
    margin: 30px 0px 10px 30px;
    margin-bottom: 10px;
    margin-left: 30px;
    height: 38px;
}

.contact__input{
    border-radius: 50rem; 
    padding: 10px 20px;   
    border: 1px solid #ccc; 
    max-width: 390px;width: calc(100% - 60px);
    font-size: 20px;
    margin-left: 10px;
    height: 46px;
}

.chatRoom{
    height: 100vh;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.chatRoom__header{
    height: 240px;
}

.contact__list{
    margin: 30px 10px 0px 10px;
}

.tittle{
    height: 38px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.tittle__text{
    font-size: 28px;
    font-weight: 700;
}

.loadingFile__icon{
    width: 28px;height: 28px;display: block;margin: auto 0px;margin-left: 5px;
}

.TaskBar{
    padding:10px;
    display: flex;
}

.chatRoom__icon{
    width: 80px;height: 80px;
}
.chatRoom__text{
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}
.chatRoom__groupText{
    width: 50px;font-weight: 700;;margin: 0px auto;
}

.chatRoom__img{
    margin-left: 20px;
}
.chatRoom__img__icon{
    width: 70px;height: 70px;
}
.chatRoom__icon:hover {
    filter: contrast(80%);
}


.chatRoom__middle{
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
    padding: 10px;
    overflow-y: auto;
}

.messageBox__item{
    display: flex; align-items: flex-start;  
    padding: 10px; 
    position: relative;
}

.messageBox__item__nickName{
    margin-right: 10px; 
    white-space: nowrap; 
    padding: 10px 10px 10px 0px;
}

.messageBox__item__content{
    background-color:#E0F7FA; 
    border-radius: 15px;
    padding: 10px;
}

.messageBox__item__file{
    max-width: 300px;
    max-height: 300px;
    width: auto; 
    height: auto; 
    display: block; 
    object-fit: contain;
    border-radius: 15px;
}

.messageBox__item__dateAndRead{
    align-self: flex-end; font-size: 16px; color: gray; margin-left: 10px;
}

.emojiTaskBar{
    padding: 20px 10px;
    display: flex;
}
.sendMessageArea{
    font-size: 20px;
    flex: 1;
    resize: none; 
}

.mask{
    width: 100%; height: 100%;
    position: fixed;
    z-index: 2;
    display: none;
    backdrop-filter: blur(10px);
}

#groupContainer{
    display: none;
}


.emojiBox {
    width: 280px;
    height: 300px;
    background-color: white;
    border: 2px solid black;
    position: absolute;
    left: 525px;
    bottom: 190px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 10px;
    display: none;
}

.emojiBox p{
    width: 28px;
}

.openEmojiBox {
    font-size: 32px;
}

.openEmojiBox:hover {
    transform: scale(1.1); 
}

.emojiBox p:hover {
    transform: scale(1.1); 
}

.doorbell{
    width: 43px;height: 43px;margin-left: 30px;
}

.doorbell:hover {
    transform: scale(1.1); 
}

.noChat{
    font-weight: 700;color: blueviolet;
    margin-top: 30px;margin-left: 30px;
}

.chatList__item{
    padding: 10px;display: grid;grid-template-columns:79.5px 1fr;gap: 10px; height: 106px;border-bottom: 1px solid #ccc;
    position: relative;
}

.chatList__item__avatar{
    width: 79.5px; height: 106px;
    object-fit: cover;
}

.chatList__item__message{
    font-size: 16px;font-weight: 700;color: gray;line-height: 21px;
    margin-top: 6px;width: 300px;
    overflow: hidden;text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    white-space: normal
}

.chatList__item__name{
    font-size: 24px;width: 300px;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
    font-weight:700;font-size: 24px;color:#8A2BE2
}
.chatList__item__emailIcon{
    margin-right: 20px ;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%); 
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: blue;
}

#chatContainer{
    display: none;
}

.chatList__item:hover{
    background: #C1FFC1;
}