.bg-green{
    background-color: #00C300;
}

.bg-white{
    background-color: #ffffff;
}

.bg-gray{
    background-color:#D3D3D3;
}

.bg-blue{
    background-color: #ADD8E6;
}
.bg-purple{
    background-color: blueviolet;
}
.text-white{
    color: white;
}

.bg-black{
    background: rgba(0, 0, 0, 0.75);
}

.text-green{
    color: #00C300;
}

.text-darkPurple{
    color:   #4B0082;
}

.text-gray{
    color:gray;
}

.text-16{
    font-size: 16px;
}

.no-outline:focus {
    outline: none;
}

.nav-btn{
    cursor: pointer;
    transition: background-color 0.3s ease;     
}
.nav-btn:hover {
    background: linear-gradient(45deg, #cccccc, #dddddd);
    color: purple;
}

.bg-lightPurple{
    background-color: #E6E6FA;
}

