<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta charset="utf-8"/>
    <title>星旅交流站</title>
    <link rel="stylesheet" type="text/css" href="/css/chat.css"/>
</head>
<body>
    <div class="mask" id="mask">
        
    </div>

    <div class="addFriendContainer" id="addFriendContaine">
        <div class="header">
            <img src="/images/exit.png" style="position: absolute; width: 48px; height: 48px; top: 0; right: 0;" id="exitAddFriendContainer"/>
            夥伴邀請
        </div>
        <div style="width: 320px;height: 30px; display: flex; margin: 20px auto; background-color: #ffffff;border-radius: 5px;">
            <img src="/images/select.png" alt="search icon" style="height: 30px;"/>
            <input type="email" style="border: 0px;flex: 1;" class="no-outline" id="inviteFriendEmail"/>
        </div>
        
        <div style="margin: 0px auto;width: 160px;">
            <button style="width: 100%;font-size: 16px;background-color: #00C300;border-radius: 5px;padding: 5px;" id="sendInvite-btn">發送邀請</button>
        </div>
        <div style="background-color: #ffffff;height: 369px;margin-top: 20px;  padding: 30px 10px;">
            <div id="selectFriendExist">
                <div style="width: 160px;height: 160px;margin: 0px auto;">
                    <img src="/images/head-shot-default.png" style="width: 160px; height: 160px;" id="newFriendHeadShot"/>
                </div>
                    <div style="width: 160px;margin: 20px auto 0px auto; text-align: center;" id="newFriendNickName">
                </div>
                <div style="display: grid;  grid-template-columns: 1fr 1fr;margin: 30px auto 0px auto; width: 200px;grid-gap: 30px;">
                    <button style="width:100%;font-size: 16px;background-color: #00C300;padding: 5px;">確認</button>
                    <button style="width:100%;font-size: 16px;background-color: #ffffff;padding: 5px;">取消</button>
                </div>
            </div>
        </div>
        
    </div>

    <div class="userMsg" id="userMsg">
        <div class="header">
            <img src="/images/exit.png" style="position: absolute; width: 48px; height: 48px; top: 0; right: 0;" id="exitUserMsg"/>
            個人檔案
        </div>
        <div style=" width: 164px;height: 164px;margin: 20px auto;">
            <img alt="head shot" style="width:100%;height: 100%;object-fit: contain;" id="myHeadShot">
        </div>

        <div style="width: 164px; margin: 20px auto;">
            <button style=" width: 100%;padding: 5px;font-size: 16px;" id="choosePhoto">選擇相片</button>
        </div>

        <div style="display: flex; padding: 10px; font-size: 20px;">
            <div>成員姓名(N) :</div> 
            <input type="text" style="margin:0px 10px;padding: 5px;font-size: 16px;" id="myName"/>
            <button style=" padding: 5px;font-size: 16px;" id="editName-btn">確認變更姓名</button>
        </div>
        <div style="display: flex; padding: 10px; font-size: 20px;">
            <div>成員呼號(N) :</div> 
            <input type="text" style="margin:0px 10px;padding: 5px;font-size: 16px;" id="myNickName"/>
            <button style=" padding: 5px;font-size: 16px;" id="editNickName-btn">確認變更呼號</button>
        </div>
        <div style="display: flex; padding: 10px; font-size: 20px;">
            <div style="margin:auto 0px;">心情小語(M) :</div> 
            <textarea style="font-size: 16px;resize: none; width:189px;padding: 5px;margin:0px 10px" id="myMoodText" ></textarea>
            <button style=" padding: 5px;font-size: 16px;height: 33px; margin:auto 0px;" id="editMoodText-btn">確認變更心情</button>
        </div>
        <div style="width: 75%; margin: 20px auto 0px auto; color: red; text-align: center;" id="myMsgRemind">
            &nbsp;
        </div>
        
    </div>

    
    <div>
        <div style="display: flex; height: 100vh;">
            <div class="nav">
                <div class="nav__item" id="openUserMsg">
                    <img src="/images/personalFile.png" alt="personal file" class="nav__item__Icon"/>
                    <div class="nav__item__text">個人檔案</div>
                </div>
                <div class="nav__item">
                    <img src="/images/friend.png" alt="friend" class="nav__item__Icon"/>
                    <div class="nav__item__text">好友</div>
                </div>
                <div class="nav__item">
                    <img src="/images/group.png" alt="group" class="nav__item__Icon"/>
                    <div class="nav__item__text">群組</div>
                </div>
                <div class="nav__item">
                    <img src="/images/chat_icon.png" alt="chat" class="nav__item__Icon"/>
                    <div class="nav__item__text">聊天</div>
                </div>
                <div class="nav__item">
                    <img src="/images/notice.png" alt="notice" class="nav__item__Icon"/>
                    <div class="nav__item__text">通知</div>
                </div>
                <div class="nav__item" style="position: absolute; bottom: 30px;">
                    <img src="/images/signOut.png" alt="signOut" class="nav__item__Icon" />
                    <div class="nav__item__text">登出</div>
                </div>
            </div>
            <div style="flex: 1;background-color: #e6f7ff;">
                <div class="gridContainer">
                    <div class="contact">
                        <div style="display: flex;justify-content: space-between;">
                            <div class="contact__title">夥伴列表</div>
                            <div>
                                <img src="/images/add-user.png" alt="add friend" style="height: 38px;margin-right: 10px;" id="opneAddFriend"/>
                            </div>
                        </div>
                        
                        <input type="email" placeholder="搜尋夥伴" class="contact__input" style="margin-top: 5px;"/>

                        <div class="contact__list"></div>
                    </div>
                    <div style="height: 100vh;background-color: #ffffff;">
                        <div class="chatRoom">
                            <div class="chatRoom__header">
                                <div class="tittle">
                                    <img src="/images/surprised.png" alt="chat room logo"/>
                                    <div class="tittle__text"><span>小跑豬</span> (<span>runingPig</span>)</div>
                                </div>
                                <div style="position: relative; padding: 25px 0px;">
                                    <div class="TaskBar">
                                        <img src="/images/phoneIcon.jpg" alt="phone icon" style="width: 70px;height: 70px;">
                                        <img src="/images/imageIcon.jpg" alt="upload image icon" style="margin-left: 10px;width: 70px;height: 70px;">
                                    </div>
                                    <div style="padding: 5px;">
                                        <span class="status"> </span>
                                        <span>小跑豬</span><span> - </span><span style="color: blue;">小跑豬來了</span>
                                    </div>
                                    <img src="/images/head-shot-default.png" alt="head shot" class="headShot" id="headShot">
                                </div>
                            </div>

                            <div class="chatRoom__middle">
                                <div class="messageBox">
                                    
                                </div>
                            </div>

                            <div class="chatRoom__footer">
                                <div class="emojiTaskBar">
                                    <div style="font-size: 32px;">😎</div>
                                    <img src="/images/doorbell.png" alt="doorbell" style="width: 43px;height: 43px;margin-left: 30px;">
                                </div>
                                <div style="padding: 0px 10px 40px 10px;">
                                    <div style="background-color: #ffffff; height: 80px; width: 100%;display: flex;">
                                        <textarea class="sendMessageArea"></textarea>
                                        <button style="width: 100px;">送出</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="scripts/chatRoom.js"></script>
    <script type="text/javascript" src="scripts/changeUserMsg.js"></script>
    <script type="text/javascript" src="scripts/friend.js"></script>
</body>
</html>